<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
	<h1>Welcome Home My Best Client!<span class="badge bg-secondary"></span></h1>

	<table>
		<div class="alert alert-primary" role="alert">
			<a href="/client_search_event_display" class="alert-link">Search Events</a>
		</div>
		<div class="alert alert-primary" role="alert">
			<a href="/client_search_place_display" class="alert-link">Search Places</a>
		</div>
		<div class="alert alert-secondary" role="alert">
			<a href="/view_map" class="alert-link">My Map</a>
		</div>
		<!-- <div class="alert alert-success" role="alert">
			<a href="/bo_create_event_form" class="alert-link">Create New Event</a>
		</div>
		<div class="alert alert-danger" role="alert">
			<a href="/bo_modify_event_form" class="alert-link">Modify Existing Event</a>
		</div>
		<div class="alert alert-warning" role="alert">
			<a href="/bo_delete_event_form" class="alert-link">Delete an Event</a>
		</div> -->
	</table>

	<div class="btn-group">
		<a href="/client_logout" class="btn btn-outline-dark">Log out</a> 
	</div>
	
</body>
</html>