<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Follow</title>
</head>

<h1> Business Owners I Like</h1>
	<br>
	<br>
	<br>

  <div class="btn-group">
		<a href="/client_view_follow" class="btn btn-outline-dark">View Business Owners</a> 
	</div>


  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <br>
	<br>
	<br>
  {% if bos %}
      <table class="table table-striped">
        <tr> <!--The title line of flight search-->
          <th>Name</th>
          <th>Company Name</th>
          <th>City</th>
          <th>Description</th>
        </tr>
        
      
        {% for bo in bos %}
        <tr>
          <td>{{bo["name"]}}</td>
          <td>{{bo["company_name"]}}</td>
          <td>{{bo["city"]}}</td>
          <td>{{bo["description"]}}</td>
          <td> <!-- New table cell for the action -->
            <form action="/client_unfollow_bo" method="POST">
                <input type="hidden" name="bo_id" value="{{ bo.id }}">
                <button type="submit">Unfollow Business Owner</button>
            </form>
        </td>
        </tr>
        {% endfor %}
      </table>
  {% endif %}
      

      <br>
      <br>
      <br>
      <a href="/client_home">Back to Home</a>
      <a href="/client_logout" class="btn btn-outline-dark">Log out</a> 
	  
    
  </body>
</html>
