<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View My Map</title>
</head>

<h1> Places I Like</h1>
	<br>
	<br>
	<br>

  <div class="btn-group">
		<a href="/client_view_map" class="btn btn-outline-dark">View My Map</a> 
	</div>


  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <br>
	<br>
	<br>
  {% if places %}
      <table class="table table-striped">
        <tr> <!--The title line of flight search-->
          <th>Name</th>
          <th>Website</th>
        </tr>
        
      
        {% for place in places %}
        <tr>
          <td>{{place["name"]}}</td>
          <td>{{place["Website"]}}</td>
          <td> <!-- New table cell for the action -->
            <form action="/client_unlike_place" method="POST">
                <input type="hidden" name="place_id" value="{{ place.id }}">
                <button type="submit">Unlike Place</button>
            </form>
        </td>
        </tr>
        {% endfor %}
      </table>
  {% endif %}
      

      <br>
      <br>
      <br>
      <a href="/client_home">Back to Home</a>
      <a href="/client_logout" class="btn btn-outline-dark">Log out</a> 
	  
    
  </body>
</html>
