<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Event</title>
</head>

<h1> Event You Host</h1>
	<br>
	<br>
	<br>

  <div class="btn-group">
		<a href="/bo_view_event" class="btn btn-outline-dark">View My Event</a> 
	</div>


  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <br>
	<br>
	<br>
  {% if events %}
      <table class="table table-striped">
        <tr> <!--The title line of flight search-->
          <th>Name</th>
          <th>Time</th>
          <th>Max Capacity</th>
          <th>Current People</th>
          <th>Score</th>
          <th>Price</th>
          <th>Place</th>
        </tr>
        
      
        {% for event in events %}
        <tr>
          <td>{{event["name"]}}</td>
          <td>{{event["time"]}}</td>
          <td>{{event["max_ppl"]}}</td>
          <td>{{event["current_ppl"]}}</td>
          <td>{{event["score"]}}</td>
          <td>{{event["price"]}}</td>
          <td>{{event["place_name"]}}</td>
        </tr>
        {% endfor %}
      </table>
  {% endif %}
      

      <br>
      <br>
      <br>
      <a href="/bo_home">Back to Home</a>
      <a href="/bo_logout" class="btn btn-outline-dark">Log out</a> 
	  
    
  </body>
</html>
