<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Event</title>
</head>
<body>
    <h1>Delete Event</h1>

    {% if events %}
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Description</th>
                <th>Maximum People</th>
                <th>Current People</th>
                <th>Score</th>
                <th>Price</th>
                <th>Place</th>
                <th>Action</th> <!-- New table header for the action -->
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.time }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.max_ppl }}</td>
                    <td>{{ event.current_ppl }}</td>
                    <td>{{ event.score }}</td>
                    <td>{{ event.price }}</td>
                    <td>{{ event.place_name }}</td>
                    <td> <!-- New table cell for the action -->
                        <form action="/bo_delete_event_form" method="POST">
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have no event to delete, please create an event first</p>
    {% endif %}


    <div class="btn-group">
      <a href="/bo_home" class="btn btn-outline-dark" aria-current="page">Back to Home</a>
      <a href="/bo_logout" class="btn btn-outline-dark">Log Out</a> 
    </div>

</body>
</html>
