<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>City Connect Project</h>
    <p>Please choose an option:</p>
        <a href="/public_place_search">
            <button>Find Your Favourite Place</button>
        </a>
        <a href="/public_event_search">
            <button>Find Your Favourite Event</button>
        </a>
        <a href="/login">
            <button>Login</button>
        </a>
        <a href="/register">
            <button>Register</button>
    </a>
</body>
</html>
